* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
#left {
    width: 50%;
    position: relative;
    height: 100%;
    background-color: burlywood;
    animation-name: le;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    overflow: hidden;
}
#left>img {
    opacity: 0;
    animation-name: mv;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#nav {
    position: absolute;
    top: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    animation-name: le;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
#nav i {
    color: #fff;
}
#nav h5 {
    color: #fff;
    font-size: 18px;
}
#left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#text {
    display: flex;
    position: absolute;
    bottom: 15%;
    right: 20px;
    width: 40%;
    height: 10px;
    justify-content: space-between;
    animation-name: te;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
#text h3 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
#right {
    width: 50%;
    position: relative;
    height: 100%;
    background-color: #fff;
}
#right h2 {
    position: absolute;
    top: 20%;
    rotate: -90deg;
    right: -10%;
    font-size: 30px;
    white-space: no-wrap;
    animation-name: mv;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
#img1 {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 10%;
    top: 6%;
    overflow: hidden;
    animation-name: mv;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
#img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 40%;
    left: 22%;
    overflow: hidden;
    animation-name: mv;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
#img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img3{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 70%;
    right: 10%;
    overflow: hidden;
    animation-name: mv;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
#img3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#circle {
    width: 100px;
    height: 100px;
    top: 38%;
    position: absolute;
    border: 2px solid black;
    right: 13%;
    border-radius: 50%;
    box-shadow: #fff;
    animation-name: mv;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

#t {
    position: absolute;
    top: 39%;
    left: 15%;
    width: 100px;
}
@keyframes mv {
    0% {
        transform: scale(2) rotate(45deg);
        opacity: 0;
    }

    100% {

        transform: tarnslate(0%);
        opacity: 1;
    }
}

@keyframes le {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
        opacity: 1;
    }
}
@keyframes te {0%{
bottom: 0%;
}
    100%{bottom: 17%;
    opacity: 1;
    }
}